 <!-- +++++ Welcome Section +++++ -->
<div id="ww"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <img src="img/user.png" alt="Stanley">
      <h1>Hi</h1>
      <p>Hello everybody. I'm Stanley, a free handsome bootstrap theme coded. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
      <p>Please, consider to register to <a href="#">our newsletter</a> to be updated with our latest themes and freebies. Like always, you can use this theme in any project freely. Share it with your friends.</p>
    </div>
  </div>



  <div class="row">
    <p *ngIf="!categories"><em>Loading...</em></p>
    <div class="col-sm-4" *ngFor="let category of categories;">

      
     
      <div class="card">


        <div [routerLinkActive]='["link-active"]'>
          <a [routerLink]="category.name">
            <div class="card-body">
              <h5 class="card-title text-center titled">{{category.name}}</h5>

            </div>
            <img class="img-responsive" src="https://etc.usf.edu/clipart/40600/40690/pb_sq_40690_md.gif" alt="Card image cap">
          </a>
        </div>
        
      </div>
      

    </div>

  </div>
</div>




